.DisplayCathegory{
    display:-webkit-inline-flex;
    flex-direction: row;


}

img{
    width: 130px;
    height: 130px;
    shape-outside: circle();
    border-radius: 200px;

}
button{
    shape-outside: circle();
    border-radius: 200px;
}