.menu-text{
    font-size:1.3em;
    color:#8bd8bd;
}

.menu-text-brand{
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 11px;
}

.menu-bg{

    background:#243665;
}

.li-menu-padding{
    padding-left: 15px;
}